<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">VSA2</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/static/assets/img/avatar.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{{ url_for('base_blueprint.logout') }}" class="d-block">
                    {{ current_user.username }} - Logout
                </a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                {% if current_user.has_role(g.c.R_ADMIN) %}
                    <li class="nav-item">
                        <a href="/volume-admin" class="nav-link">
                            <i class="nav-icon fas fa-hdd"></i>
                            <p>
                                Volume - Admin
                            </p>
                        </a>
                    </li>
                {% endif %}
                {% if current_user.has_role(g.c.R_USER_PHYSICAL) %}
                    <li class="nav-item">
                        <a href="/volume-physical" class="nav-link">
                            <i class="nav-icon fas fa-hdd"></i>
                            <p>
                                Volume - Physical Infra
                            </p>
                        </a>
                    </li>
                {% endif %}
                {% if current_user.has_role(g.c.R_USER_CLOUD) %}
                    <li class="nav-item">
                        <a href="/volume-cloud" class="nav-link">
                            <i class="nav-icon fas fa-hdd"></i>
                            <p>
                                Volume - Cloud Infra
                            </p>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="/aggregate" class="nav-link">
                        <i class="nav-icon fas fa-layer-group"></i>
                        <p>
                            Host Aggregate
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
  